# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging & distribution
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# SQLite databases & temp storage
*.db
*.sqlite
*.sqlite3
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
